[Desktop Entry]
Name=LIMBO
Comment=Play this game on Steam
Exec=steam steam://rungameid/48000
Icon=steam_icon_48000
Terminal=false
Type=Application
Categories=Game;
