{% load i18n %}

<div id="top">
    <div class="container">
        <div class="col-md-offset-6 col-md-6" data-animate="fadeInDown">
            <ul class="menu">
           		 {% if user.is_authenticated %}
           		 	<li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
           		 {% else %}
                	<li><a href="{% url 'customer:login' %}" id="login_link"><i class="fa fa-user"></i></a>
                 {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
