{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
    <div id="content_inner">
    	<div class="col-md-8" id="basket">
    		<div class="box">
    			<div class="table-responsive">
    				<form action="." method="post" class="basket_summary" id="basket_formset" enctype="multipart/form-data">
    					{% csrf_token %}
    					{% block basket_form_headers %}
    					<table class="table">
    						<thead>
    							<tr class="basket-totals">
    								<th>{% trans "Product" %}</th>
    								<th>{% trans "Quantity" %}</th>
                    <th>Arte</th>
                    <th>{% trans "Price" %}</th>
    								<th colspan="2">{% trans "Total" %}</th>

    							</tr>
    						</thead>
    					{% endblock %}

    					{% block basket_form_main %}
    						{{ formset.management_form }}
    						<tbody>
    							{% for form in formset %}
    							{% with line=form.instance product=form.instance.product %}
    							{% purchase_info_for_line request line as session %}
    							<tr>
    								<td>
    									{{ form.id }}
    									{% with image=product.primary_image %}
    									{% thumbnail image.original "100x100" upscale=False as thumb %}
    									<a href="{{ product.get_absolute_url }}">
    										<img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
    									</a>
    									{% endthumbnail %}
    									{% endwith %}
                      <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                      <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
    								</td>
    								<td>
    									<div class="checkout-quantity">
    										<div class="input-group  {% if form.errors %}error{% endif %}">
    											{% render_field form.quantity class+="form-control" %}
    											<span class="input-group-btn">
    												<button class="btn btn-default" id="update_qtd" name="teste" type="submit" data-loading-text="{% trans 'Updating...' %}"><icon class="fa fa-check"></i></button>
    											</span>
    										</div>
    									</div>
    								</td>
                    <!-- <td>
                      <div class="art_hire_file">
                          <center>
                            {% if not line.art_file %}
                              <label for="{{ form.art_file.auto_id }}" class="mouse-pointer">
                                  <i class="fa fa-upload fa-3x" aria-hidden="true"></i>
                                  <p>Subir arquivo</p>
                              </label>
                              {% render_field form.art_file class+="form-control-none" %}
                              <div class="input-group">
                                <span class="input-group-addon">
                                <label for="{{ form.hire_art.auto_id }}">Contratar a arte</label>
                                </span>
                                <span class="input-group-addon">
                                  {% render_field form.hire_art class+="form-control" %}
                                </span>
                              </div>
                            {% else %}
                              <label for="{{ form.art_file.auto_id }}" class="mouse-pointer">
                                  <i class="fa fa-file fa-3x" aria-hidden="true"></i>
                              {% render_field form.art_file class+="form-control-none" %}
                              <p><strong>{{line.filename}}</strong></p>
                              </label>
                            {% endif %}

                          </center>
                      </div>
                      </td> -->
    								<td>
    									<p class="price">
    										{% if line.is_tax_known %}
    										{{ line.unit_price_incl_tax|currency:line.price_currency }}
    										{% else %}
    										{{ line.unit_price_excl_tax|currency:line.price_currency }}
    										{% endif %}
    									</p>
    								</td>
    								<td>
    									<p class="price">
    										{% if line.is_tax_known %}
    										{{ line.line_price_incl_tax|currency:line.price_currency }}
    										{% else %}
    										{{ line.line_price_excl_tax|currency:line.price_currency }}
    										{% endif %}
    									</p>
    								</td>
    								<td>
      								<a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline"><i class="fa fa-trash-o fa-2x"></i></a>
      								<div style="display:none">
      										{{ form.move_to_basket }}
      										{{ form.DELETE }}
    									</div>
                      {% for field_errors in form.errors.values %}
                          {% for error in field_errors %}
                              <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                          {% endfor %}
                      {% endfor %}

    								</td>
    							</tr>
    							{% endwith %}
    							{% endfor %}
    						</tbody>
    					</table>
              <!-- <button class="btn btn-success pull-right" type="submit" name="upload_file" data-loading-text="{% trans 'Enviando...' %}">{% trans "Enviar arquivos de arte" %}</button> -->

            </form>
    			</div>

    			{% block formactions %}
    			<div class="box-footer">
    				<div class="pull-right">
    					<a href="{% url 'checkout:index' %}" class="btn btn-primary">{% trans "Proceed to checkout" %} <i class="fa fa-chevron-right"></i></a>
    				</div>
    				<div class="pull-left">
    					<a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i>Voltar </a>
    				</div>
    			</div>
    			{% endblock formactions %}
    		</div>
    	</div>

	{% endblock basket_form_main %}

  	<div class="col-md-4">
  		<div class="box" id="order-summary">
  			{% block baskettotals %}
  				<div class="box-header">
  					<h3>{% trans "Totals" %}</h3>
  				</div>
  				{% include 'basket/partials/basket_totals.html' with editable=1 %}
  			{% endblock baskettotals %}
  		</div>

    	{% block vouchers %}
    		{# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
    		{% if voucher_form %}
    		<div class="box">
    			<div class="box-header">
    				<h2>Código promocional</h2>
    			</div>
    			<p class="text-muted">Insira o seu cupom</p>
    			<form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
    				{% csrf_token %}
    				<div class="input-group">
    					<input type="text" class="form-control">
    					<span class="input-group-btn">
    						<button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adicionando...' %}"><i class="fa fa-gift"></i></button>
    					</span>
    				</div>
    			</form>
    		</div>
    		{% endif %}
    	{% endblock vouchers %}
  	</div>
  </div>
{% else %}
  {% block emptybasket %}
  <p>
  	{% trans "Your basket is empty." %}
  	<a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
  </p>
  {% endblock %}
{% endif %}

{% block savedbasket %}
{% if user.is_authenticated and saved_formset %}
<div class="well">
	<div class="sub-header">
		<h2>{% trans "Items to buy later" %}</h2>
	</div>
	<div class="row basket-title hidden-xs">
		<p class="col-sm-8 h4">{% trans "Items" %}</p>
		<p class="col-sm-2 h4 align-center">{% trans "Price" %}</p>
		<div class="col-sm-2">&nbsp;</div>
	</div>
	<form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
		{% csrf_token %}
		{{ saved_formset.management_form }}
		{% for form in saved_formset %}
		{% purchase_info_for_product request form.instance.product as session %}
		<div class="basket-items">
			<div class="row">
				<div class="col-sm-2">
					{{ form.id }}
					{% with image=form.instance.product.primary_image %}
					{% thumbnail image.original "100x100" upscale=False as thumb %}
					<a href="{{ form.instance.product.get_absolute_url }}">
						<img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
					</a>
					{% endthumbnail %}
					{% endwith %}
				</div>
				<div class="col-sm-6">
					<h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
					<p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
					<a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
					<div style="display:none">
						{{ form.move_to_basket }}
						{{ form.DELETE }}
					</div>
				</div>
				{% purchase_info_for_product request form.instance.product as saved %}
				<div class="col-sm-2 align-center">
					<p class="price_color">
						{% if saved.price.is_tax_known %}
						{{ saved.price.incl_tax|currency:saved.price.currency }}
						{% else %}
						{{ saved.price.excl_tax|currency:saved.price.currency }}
						{% endif %}
					</p>
				</div>
				<div class="col-sm-2">
					<a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</form>
</div>
{% endif %}
{% endblock %}
