{% extends "oscar/checkout/payment_details.html" %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
	{% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}

	{% block payment_details_content %}
        <form method=POST action="{{ request.path }}">
            {% csrf_token %}
            {{ cielo_form }}
            <button class="btn btn-primary btn-large">{% trans "Continue" %}</button>
        </form>
	{% endblock payment_details_content %}

{% endblock payment_details %}

{% block extrascripts %}
    {{ block.super }}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.9/jquery.mask.min.js"></script>
		<script type="text/javascript" src="{% static 'oscar/custom/payment_details_masks.js' %}"></script>
{% endblock extrascripts %}
