/** Your theme modifications here **/
.home_image{
  max-width: 50vh;
}
.well-rainbow{
  background: #C02425!important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C02425 , #F0CB35)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C02425 , #F0CB35)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.home_image_content{

}

.sub-header{
  border-bottom:none!important;
}
#content{
  background: #FFB75E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
